*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    text-align: center; 
}

#title{
    display: block;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 20px 0px;
    background-color: violet;
    z-index: 1000;
}


/* #totalContainer{
    order: 1;
    position: sticky;
    bottom: 10px;
    background-color: rgba(128, 128, 128, 0.507);
    z-index: 100;
}

#cart_content{
    order: 2;
    display: flex;
    flex-direction: column;
} */


.card{
    max-width: 400px;
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;

    img{
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    button{
        margin: 20px 10px 0px 0px;
    }
}



/* Toast Notification style */
.toast { 
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 5px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
    font-size: 17px; 
} 

.toast.show { 
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s; 
    animation: fadein 0.5s, fadeout 0.5s 3s; 
} 

@-webkit-keyframes fadein { 
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;} 
} 

@keyframes fadein { 
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;} 
} 

@-webkit-keyframes fadeout { 
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;} 
} 

@keyframes fadeout { 
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;} 
}



/* Styling for checkout form */

#checkoutForm{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    display: none;

    form{
        background-color: white;
        max-width: 600px;
        height: auto;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #closeCheckoutForm{
            margin: 20px 0px;
            font-weight: bold;
            font-size: 24px;
            margin-left: 90%;
            cursor: pointer;
            text-align: right;
            padding: 10px 15px;
        }

        h2{
            margin-bottom: 20px;
        }

        label{
            display: block;
            margin: 10px 0px;
        }

        input{
            width: 100%;
            padding: 8px 10px;
            border-radius: 10px;
        }

        button{
            margin-top: 20px;
        }


    }
}








/* Large Screens */

@media(min-width: 1024px){
    main{
        display: flex;
    }

    #cart_content{
        width: 120%;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    #totalContainer{
        position: sticky;
        top: 50%;
        left: 60%;
        transform: translate(-30%, -50%);
        margin: 0px 0px 0px 70px;

        p{
            margin-top: 40px;
        }

        #number_of_items{
            font-weight: bold;
            font-size: 18px;
        }

        button{
            margin-top: 40px;
        }
    }
}